@page "/Dependencies"
<h3>Dependencies</h3>

<p>Use this page only if you really understand the consequences.</p>
<p>Types from DLLs loaded into the default app context can be cached between runs, but cannot be replaced.</p>

@code {
    
}
