@page "/"
@rendermode InteractiveServer
@inject IRunQueue runQueue
@inject ICancellationTokenManager cancellationTokenManager
@using System.Text.Json
@inject IJSRuntime runtime

<MudContainer MaxWidth="MaxWidth.Large">
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Run">
            <MudItem>
                <label for="commandType">@Labels.CommandType</label>
                <select name="commandType" @bind="commandType">
                    <option>Analyzer</option>
                    <option>Custom Processor</option>
                </select>
            </MudItem>


            <MudItem>
                <MudTextField @bind-Value="primarySolution" Label=@Labels.PrimarySolution Variant="Variant.Outlined" />
            </MudItem>
            <MudItem>
                <MudCheckBox @bind-Value="persistSolution" Label=@Labels.PersistSolution />
            </MudItem>
            <MudItem>
                <MudTextField @bind-Value="assemblyLoadContextPath" Label=@Labels.AssemblyLoadContextPath
                    Variant="Variant.Outlined" />
            </MudItem>
            @if (commandType == "Analyzer")
            {
                <MudItem>
                    <MudTextField @bind-Value="analyzerProject" Label=@Labels.AnalyzerProjectPath
                        Variant="Variant.Outlined" />
                </MudItem>
                <MudItem>
                    <MudTextField @bind-Value="targetProject" Label=@Labels.TargetProjectName Variant="Variant.Outlined" />
                </MudItem>
                <MudItem>
                    <MudTextField @bind-Value="analyzerNames" Label=@Labels.AnalyzerNames Variant="Variant.Outlined" />
                </MudItem>
            }
            else if (commandType == "Custom Processor")
            {
                <div id="customProcessorFields">
                    <MudItem>
                        <MudTextField @bind-Value="processorSolution" Label=@Labels.ProcessorSolution
                            Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem>
                        <MudTextField @bind-Value="processorName" Label=@Labels.ProcessorName Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem>
                        <MudTextField @bind-Value="processorProjectName" Label=@Labels.ProcessorProjectName
                            Variant="Variant.Outlined" />
                    </MudItem>

                    <MudItem>
                        <MudTextField Lines="3" @bind-Value="contextText" Label=@Labels.ContextJson
                            Variant="Variant.Outlined" AutoGrow />
                        @if (contextError != null)
                        {
                            <MudAlert Severity="Severity.Error">@contextError</MudAlert>
                        }
                    </MudItem>
                </div>
            }
            <MudItem>
                <MudButton OnClick="SubmitForm" Color="Color.Primary">Submit</MudButton>
            </MudItem>
        </MudTabPanel>
        <MudTabPanel OnClick="UpdateCommandText" Text="JSON">
            <MudItem>
                <MudTextField Lines="6" Value="@currentRunCommandJson" Label=@Labels.CurrentRunCommandJson
                    ReadOnly="true" Variant="Variant.Outlined" AutoGrow />
                <MudButton OnClick="CopyToClipboard" Variant="Variant.Filled">Copy to Clipboard</MudButton>
            </MudItem>
            <MudItem>
                <MudTextField Lines="6" @bind-Value="loadJsonText" Label=@Labels.LoadJson Variant="Variant.Outlined"
                    AutoGrow />
                <MudButton OnClick="LoadFromJson" Variant="Variant.Filled">Load</MudButton>
            </MudItem>
        </MudTabPanel>
    </MudTabs>
</MudContainer>

@code {
    private string commandType = "Analyzer";
    private string primarySolution = string.Empty;
    public bool persistSolution = false;
    private string? processorSolution = null;
    private string processorName = string.Empty;
    private string? processorProjectName = null;
    private string? assemblyLoadContextPath = null;
    private string analyzerProject = string.Empty;
    private string targetProject = string.Empty;
    private string analyzerNames = string.Empty;
    private string? contextText = null;
    private string? contextError = null;
    private string currentRunCommandJson = string.Empty;
    private string loadJsonText = string.Empty;

    private async Task CopyToClipboard()
    {
        await runtime.InvokeVoidAsync("copyTextToClipboard", currentRunCommandJson);
    }

    private void UpdateCommandText()
    {
        var runCommand = GetRunCommand();

        currentRunCommandJson = JsonSerializer.Serialize(runCommand, new JsonSerializerOptions { WriteIndented = true });
        StateHasChanged();
    }

    private RunCommand GetRunCommand()
    {
        RunCommand runCommand;

        if (commandType == "Analyzer")
        {
            var analyzerContext = new
            {
                AnalyzerProject = analyzerProject,
                TargetProject = targetProject,
                AnalyzerNames = analyzerNames?.Split(",").Select(a => a.Trim()) ?? new string[] { }
            };
            var serializedContext = JsonSerializer.Serialize(analyzerContext);

            runCommand = new RunCommand(
            primarySolution,
            persistSolution,
            null,
            "AnalyzerRunner",
            null,
            assemblyLoadContextPath,
            Context: serializedContext
            );
        }
        else
        {
            runCommand = new RunCommand(
            primarySolution,
            persistSolution,
            processorSolution,
            processorName,
            processorProjectName,
            assemblyLoadContextPath,
            Context: contextText
            );
        }

        return runCommand;
    }

    private void LoadFromJson()
    {
        try
        {
            var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };
            var loadedCommand = JsonSerializer.Deserialize<RunCommand>(loadJsonText, options);

            if (loadedCommand is not null)
            {
                primarySolution = loadedCommand.PrimarySolution;
                persistSolution = loadedCommand.PersistSolution;
                processorSolution = loadedCommand.ProcessorSolution;
                processorName = loadedCommand.ProcessorName;
                processorProjectName = loadedCommand.ProcessorProjectName;
                assemblyLoadContextPath = loadedCommand.AssemblyLoadContextPath;
                contextText = loadedCommand.Context;

                // Update specific fields based on command type
                if (processorName == "AnalyzerRunner")
                {
                    commandType = "Analyzer";
                    var analyzerContext = JsonSerializer.Deserialize<Dictionary<string, object>>(loadedCommand.Context ?? "{}");
                    analyzerProject = analyzerContext?["AnalyzerProject"]?.ToString() ?? string.Empty;
                    targetProject = analyzerContext?["TargetProject"]?.ToString() ?? string.Empty;

                    var names = analyzerContext?["AnalyzerNames"] as JsonElement?;
                    // convert to array
                    var fullNames = names?.EnumerateArray().ToArray();
                    if (fullNames != null)
                    {
                        analyzerNames = string.Join(",", fullNames);
                    }
                }
                else
                {
                    commandType = "Custom Processor";
                }

                contextError = null;
                UpdateCommandText();
            }
        }
        catch (JsonException)
        {
            contextError = "Invalid JSON input for loading.";
        }

        StateHasChanged();
    }

    private async Task SubmitForm()
    {
        var runCommand = GetRunCommand();
        await runQueue.Enqueue(runCommand);
    }

    public class Labels
    {
        public const string CommandType = "Command Type:";
        public const string PrimarySolution = "Primary Solution";
        public const string PersistSolution = "Persist Solution";
        public const string AssemblyLoadContextPath = "Assembly Load Context Path";
        public const string AnalyzerProjectPath = "Analyzer Project Path";
        public const string TargetProjectName = "Target Project Name";
        public const string AnalyzerNames = "Analyzer Names";
        public const string ProcessorSolution = "Processor Solution";
        public const string ProcessorName = "Processor Name";
        public const string ProcessorProjectName = "Processor Project Name";
        public const string ContextJson = "Context (JSON)";
        public const string CurrentRunCommandJson = "Current Run Command JSON";
        public const string LoadJson = "Load JSON";
    }
}
